*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  outline: none;
  color: #333;
  text-decoration: none;
  text-transform: none;
} 

p{
  color: #777;

}

body{
  background-color: #f9fafc;
}